<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
    <h1>Welcome to Home Page</h1>
    <h2>If you want to see all APIs and test through Swagger then <a href="http://127.0.0.1:8000/swagger/" target="_blank">Click Here</a></h2>
    <h2>If you want to see all APIs with documentation then <a href="http://127.0.0.1:8000/redoc/" target="_blank">Click Here</a></h2>
</body>
</html>